body{
    size: 100%;
}
#top{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
h1{
    color: #D2051E;
    font-size: 60px;

}
p{
    margin-top: -25px;
    font-family: sans-serif;
}
#navbar{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    padding: 0px 50px 0px 50px;
    
    
}
div>a{
    color: rgb(49, 49, 49);
    font-weight: 530;
    font-size: 17px;
    
}
h6{
    border: 1px solid #D2051E ;
    margin: 5px;
}
span{
    color:red;
    font-size: 18px;
}
section{
    display: flex;
    justify-content: center;
    gap: 1050px;
}
#logo{
    margin-right: -550px;
}

 #logo>a{
    padding: 10px;
    border-radius: 2px;
       color: whitesmoke;
    
}
.fa-facebook{
    background-color:#3B5998 ;
}
.fa-twitter{
    background-color: #55ACEE;
}
.fa-google{
    background-color: #dd4b39;
}
.fa-linkedin{
    background-color: #007bb5;
}
#demo{
    margin-left: -340px;
    background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /*Chrome 10-25, Safari 5.1-6*/
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: whitesmoke;
border-radius: 4px;
padding-top: 7px;
margin-left: -500px;
}

#fix a:hover {
    background-color: red;
    color: whitesmoke;
}
 

  #fix{
    cursor: pointer;
}