#container-top{
    display: flex;
    margin: auto;
    gap: 12px;

}
#container-top>div{
    width: 33%;
    
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    border-right: 1px solid rgba(9, 30, 66, 0.13);

}
#container-top>div>div>h3{
    line-height: 28px;
    font-family: 'Kepler Std', sans-serif;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;

    
}
#container-top>div>div>h3:hover{
    color: #D2051E;

    
}


#container-top>div>div>p{
    line-height: 20px;
    margin-top: 6px;
    font-family: 'Poppins', sans-serif;
}
#container-top>div>div>img{
    width: 100%;
}

#container-bottom{
    display: flex;
}
#bottom-ads{
    margin-top: 50px;
    margin-bottom: 50px;
}

#bottom-append{
    width: 80%;
}
#bottom-append>div{
    display: flex;
    padding: 5px;
}
#bottom-append>div>img{
    width: 210px;
    height: 130px;
    margin: 0px 20px 0px 0px ;
}
#bottom-append>div>div>h3{
    line-height: 28px;
    font-family: 'kepler-std-condensed-subhead', 'serif';
    /* kepler-std-condensed-subhead, serif */
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
}
#bottom-append>div>div>h3:hover{
    color: #D2051E;
}
#bottom-append>div>div>p{
    line-height: 20px;
    margin-top: 6px;
    font-family: 'Poppins', sans-serif;
}
.date{
    margin-top: 20px;
    width: 200px;
    color: grey;
}

#photo_gal{
    margin-top: 30px;
    width: 330px;
}
#bottom-ads>p{
    margin-top: 120px;
    color: #D2051E;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: x-large;
}
#photo_gal>img{
    width: 100%;
}
#video{
    margin-top: 30px;
}