*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: open sans-serif; */
    font-family: "Open Sans", sans-serif;
}

#login_div{
    border: 1px solid transparent;
    width: 100%;
    height: 385px;
    background-color: #ffffff;
    margin-top: 80px;
    margin-bottom: 80px;
}
#login_div_div{
    border: 1px solid transparent;
    height: 100%;
    width: 50%;
    padding: 20px 76px;
    background-color: #fefefe;
    margin: 0px 25% 0px 25%;
}
#login_heading{
    border: 1px solid transparent;
    width: 100%;
    height: 39px;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;

}
#login{
    border: 1px solid transparent;
    width: 100%;
    height: 270px;
    margin-top: 10px;
}
 
input{
    margin: 20px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 100%;
    font-size: 14px;
    padding: 0px 0px 0px 12px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: black;
}
::placeholder{
    color: black;
}
#password{
    border: 1px solid #cccccc;
    /* padding: 0px 0px 0px 12px; */
    /* margin: 20px 0px 10px 0px; */
    /* margin: 20px 0px 10px 0px; */
    width: 400px;
    display: flex;
    margin-top: 10px;

}
#password>div{
    width: 60px;
    /* height: 30px; */
    border: 1px solid transparent;
    padding: 14px;
}
#password_icon{
    width: 100%;
    height: 100%;
}
input[type=password]{
    border: 1px solid transparent;
    width: 90%;
    margin: 0px;
}
input[type=text]{
    border: 1px solid transparent;
    width: 90%;
    margin: 0px;
}
input:focus{
    outline: none;
}
input[type="submit"]{
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#login_last{
    border: 1px solid transparent;
    width: 100%;
    height: 20px;
    font-size: 14px;
    text-align: center;
}
#sign_up{
    color: red;
}

/* ***************************footer part********************* */
.parentfooter{
    width:100%;
    
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    
    background-color: #212020;
    padding: 0px 9px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* *********************** */
/* ********child footer styling****** */
.childfooter{
    border: 1px solid transparent;
        background-color: #212020;
    
}
/* ******************** */
/* *********child>heading styling********* */
.childfooter>div>h1{
    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-spacing: 0px;
    text-decoration: none solid rbg(72,73,74);
    color: white;
    margin: 10px 0px 5px 0px;
}
.childfooter>div>h1{
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 15px;
  }
  .childfooter>div>h1:after {
    content: '';
    display: block;
    border-bottom: 2px solid #EC1C24;
    margin-bottom: -2px;
    max-width: 60px;
  }





/* *********************** */
/* ********outer span styling******* */
.childfooter>div>span{
    display: block;
    height: 26px;
}
/* ************** */
/* *********inner styling ******* */
.childfooter>div>span>span{
    
    font-size: 14px;
    line-height: 20px;
    word-spacing: 0px;
    text-decoration: none solid rbg(43,44,45);
    /* border: 1px solid red; */
    
    cursor: pointer;
    /* ****************** */
}
/* ********** */






.childfooter>div>span>span>a:hover{
   
    color: red;
    
}
span>span>a{
    text-decoration: none;
    color: black;
    color: lightgray;
}
#last_section>.last_section_div{
    /* background-color:  yellow; */
    display: flex;

}
#last_section>.last_section_div>div{
    
    border: 1px solid transparent;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
#last_section>.last_section_div>div>img{
    width: 100%;
    height: 100%;
}

/* **************************** */
/* **************************** */
/* ************footer last part styling********* */

#footerlastpart{
    /* margin-top: 14px; */
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insidefooterlastpart{
    border: 1px solid transparent;
    width: 90%;
    height: 1.3em;
    display: flex;
    justify-content: space-between;
}
.theend>p{
  
    font-size: 14px;
    line-height: 20px;
    color: lightgray;
    
}
.theend>span{
   
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.theend>span>a{
    text-decoration: none;
    color: lightgray;
}

/* ************************* */
/* *********Happy Ending******** */








