* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-bottom: 50px;
}

.heading {
    width: 98%;
    margin: auto;
    margin-top: 30px;
    font-size: 28px;
    color: #D2051E;
    border-top: 1px solid #D2051E;
    /* font-family: 'kepler-std-condensed-subhead', serif; */
}

.newsDetailsContainer {
    width: 98%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 34% 20% 20% 20%;
    gap: 2%;
}

#nfDiv1PublishedBy {
    color: #D2051E;
}

.smallImg {
    height: 100px;
    width: 100%;
    cursor: pointer;

}

.publishedByDivSmall {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15.6px;
    margin-top: 10px;
}

.publishedBySmallName {
    color: #D2051E;
}

.mainNewsImg {
    width: 100%;
    cursor: pointer;
}

.newsTitle:hover {
    color: #D2051E;
}

.newsTitle {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
}

.newsdescription {
    font-size: 16px;
    line-height: 24px;
}

.publishedByDiv {
    font-size: 16px;
    line-height: 15.6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.oddDiv {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.evenDiv {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}