* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-bottom: 50px;
}

.heading {
    width: 98%;
    margin: auto;
    margin-top: 30px;
    font-size: 28px;
    color: #D2051E;
    border-top: 1px solid #D2051E;
    /* font-family: 'kepler-std-condensed-subhead', serif; */
}

#nfContainer {
    width: 98%;
    margin: auto;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 34% 20% 20% 20%;
    gap: 2%;
}

#nfDiv1SideHeading:hover {
    color: #D2051E;
}

#nfDiv1Img {
    width: 100%;
}

#nfDiv1SideHeading {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
}

#nfDiv1Description {
    font-size: 16px;
    line-height: 24px;
}

#nfDiv1PublishedByDiv {
    font-size: 16px;
    line-height: 15.6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#nfDiv1PublishedBy {
    color: #D2051E;
}

#nfDiv2div1 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#nfDiv2div2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#nfDiv3div3 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#nfDiv3div4 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#nfDiv4div5 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#nfDiv4div6 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.smallImg {
    height: 100px;
    width: 100%;
}

.titleSmall {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
}

.contentSmall {
    font-size: 16px;
    line-height: 24px;
}

.publishedByDivSmall {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15.6px;
    margin-top: 10px;
}

.publishedBySmallName {
    color: #D2051E;
}




/* Entertainment */
#enterContainer {
    width: 98%;
    margin: auto;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 34% 20% 20% 20%;
    gap: 2%;
}

#enterDiv1SideHeading:hover {
    color: #D2051E;
}

#enterDiv1Img {
    width: 100%;
}

#enterDiv1SideHeading {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
}

#enterDiv1Description {
    font-size: 16px;
    line-height: 24px;
}

#enterDiv1PublishedByDiv {
    font-size: 16px;
    line-height: 15.6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#enterDiv1PublishedBy {
    color: #D2051E;
}

#enterDiv2div1 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#enterDiv2div2 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#enterDiv3div3 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#enterDiv3div4 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#enterDiv4div5 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

#enterDiv4div6 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}